In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib

In [2]:
df=pd.read_csv('cad.csv')

In [3]:
df.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [5]:
df.rename(columns = {'TenYearCHD':'chd'}, inplace = True)
df.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,chd
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [6]:
nadf=df[df['glucose'].isna()]
nadf

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,chd
14,0,39,2.0,1,9.0,0.0,0,0,0,226.0,114.0,64.0,22.35,85.0,NaN,0
21,0,43,1.0,0,0.0,0.0,0,0,0,185.0,123.5,77.5,29.89,70.0,NaN,0
26,0,60,1.0,0,0.0,0.0,0,0,0,260.0,110.0,72.5,26.59,65.0,NaN,0
42,0,52,1.0,0,0.0,1.0,0,1,0,NaN,148.0,92.0,25.09,70.0,NaN,1
54,0,39,2.0,1,20.0,0.0,0,0,0,209.0,115.0,75.0,22.54,90.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4170,0,41,2.0,1,5.0,0.0,0,0,0,205.0,105.0,74.0,20.85,87.0,NaN,0
4208,0,51,1.0,1,9.0,0.0,0,0,0,340.0,152.0,76.0,25.74,70.0,NaN,0
4229,0,51,3.0,1,20.0,0.0,0,1,0,251.0,140.0,80.0,25.60,75.0,NaN,0
4230,0,56,1.0,1,3.0,0.0,0,1,0,268.0,170.0,102.0,22.89,57.0,NaN,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0

In [7]:
mean=df['glucose'].mean()
mean

81.96675324675324

In [8]:
df['glucose'].fillna(mean, inplace=True)

In [9]:
madf=df[df['cigsPerDay'].isna()]
madf

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,chd
131,1,43,4.0,1,NaN,0.0,0,0,0,222.0,109.5,69.0,25.50,75.0,81.966753,0
139,1,49,4.0,1,NaN,0.0,0,0,0,256.0,127.5,81.5,28.21,93.0,85.000000,1
1046,0,49,1.0,1,NaN,0.0,0,0,0,280.0,120.0,80.0,22.33,90.0,75.000000,0
1292,1,42,3.0,1,NaN,0.0,0,0,0,225.0,122.5,80.0,25.54,90.0,90.000000,0
1347,0,58,4.0,1,NaN,0.0,0,1,0,270.0,195.0,117.5,23.35,75.0,81.966753,0
1451,1,54,1.0,1,NaN,0.0,0,0,0,219.0,110.0,72.0,26.05,95.0,86.000000,0
1497,1,55,1.0,1,NaN,0.0,0,0,0,214.0,132.5,85.5,29.25,70.0,103.000000,0
1610,0,61,1.0,1,NaN,0.0,0,1,0,356.0,168.0,98.0,27.30,103.0,106.000000,0
1625,0,49,2.0,1,NaN,0.0,0,1,0,233.0,158.0,102.0,25.31,90.0,72.000000,0
1870,0,47,2.0,1,NaN,0.0,0,0,0,365.0,127.0,76.0,24.44,72.0,80.000000,0
1963,1,45,3.0,1,NaN,0.0,0,1,0,170.0,145.5,99.0,26.74,83.0,85.000000,0
1980,0,60,2.0,1,NaN,0.0,0,0,0,228.0,112.0,74.0,24.51,63.0,81.966753,0
2405,0,49,1.0,1,NaN,0.0,0,0,0,252.0,123.0,69.0,21.45,72.0,89.000000,0
2513,1,42,1.0,1,NaN,0.0,0,0,0,226.0,119.0,80.0,25.29,62.0,98.000000,0
2542,1,57,NaN,1,NaN,0.0,0,0,0,223.0,107.5,72.5,24.74,62.0,103.000000,0
3021,1,53,2.0,1,NaN,0.0,0,0,0,276.0,130.0,86.0,24.21,58.0,82.000000,0
3034,0,57,NaN,1,NaN,0.0,0,0,0,229.0,115.0,69.0,24.43,80.0,93.000000,0
3094,0,49,1.0,1,NaN,0.0,0,1,0,214.0,172.0,111.0,40.51,80.0,70.000000,1
3106,0,47,3.0,1,NaN,0.0,0,0,0,321.0,132.0,88.0,28.14,90.0,74.000000,0
3108,1,39,2.0,1,NaN,0.0,0,0,0,285.0,121.0,82.0,27.62,85.0,65.000000,0
3156,1,37,3.0,1,NaN,0.0,0,0,0,188.0,123.5,77.0,26.62,65.0,80.000000,0
3177,1,45,2.0,1,NaN,0.0,0,0,0,248.0,121.0,72.0,27.88,64.0,88.000000,0
3309,1,58,2.0,1,NaN,0.0,0,0,0,235.0,127.5,76.0,21.02,81.0,135.000000,0
3432,0,55,1.0,1,NaN,0.0,0,1,0,213.0,163.0,91.0,28.66,69.0,66.000000,0
3579,1,42,1.0,1,NaN,0.0,0,0,0,196.0,123.0,73.0,22.06,66.0,81.966753,0
3715,0,57,2.0,1,NaN,0.0,0,0,0,270.0,120.0,79.0,24.83,95.0,81.000000,0
3847,0,41,1.0,1,NaN,0.0,0,0,0,171.0,135.0,82.5,24.35,79.0,82.000000,0
3924,0,52,2.0,1,NaN,0.0,0,1,0,292.0,157.0,112.0,29.56,95.0,84.000000,0
3942,0,39,3.0,1,NaN,0.0,0,0,0,197.0,126.5,76.5,19.71,55.0,63.000000,0

In [10]:
mean=df['cigsPerDay'].mean()
df['cigsPerDay'].fillna(mean, inplace=True)

In [11]:
mean=df['education'].mean()
df['education'].fillna(mean, inplace=True)
madf=df[df['education'].isna()]
madf

Empty DataFrame
Columns: [male, age, education, currentSmoker, cigsPerDay, BPMeds, prevalentStroke, prevalentHyp, diabetes, totChol, sysBP, diaBP, BMI, heartRate, glucose, chd]
Index: []

In [12]:
madf=df[df['age'].isna()]
madf

Empty DataFrame
Columns: [male, age, education, currentSmoker, cigsPerDay, BPMeds, prevalentStroke, prevalentHyp, diabetes, totChol, sysBP, diaBP, BMI, heartRate, glucose, chd]
Index: []

In [14]:
mean=df['totChol'].mean()
df['totChol'].fillna(mean, inplace=True)
madf=df[df['totChol'].isna()]
madf

Empty DataFrame
Columns: [male, age, education, currentSmoker, cigsPerDay, BPMeds, prevalentStroke, prevalentHyp, diabetes, totChol, sysBP, diaBP, BMI, heartRate, glucose, chd]
Index: []

In [19]:
mean=df['BMI'].mean()
df['BMI'].fillna(mean, inplace=True)
madf=df[df['BMI'].isna()]
madf

Empty DataFrame
Columns: [male, age, education, currentSmoker, cigsPerDay, BPMeds, prevalentStroke, prevalentHyp, diabetes, totChol, sysBP, diaBP, BMI, heartRate, glucose, chd]
Index: []

In [20]:
mean=df['heartRate'].mean()
df['heartRate'].fillna(mean, inplace=True)
madf=df[df['heartRate'].isna()]
madf

Empty DataFrame
Columns: [male, age, education, currentSmoker, cigsPerDay, BPMeds, prevalentStroke, prevalentHyp, diabetes, totChol, sysBP, diaBP, BMI, heartRate, glucose, chd]
Index: []

In [22]:
df.dropna(subset=["BPMeds"], inplace=True)

In [28]:
nadf=df[df['male'].isna()]
nadf

Empty DataFrame
Columns: [male, age, education, currentSmoker, cigsPerDay, BPMeds, prevalentStroke, prevalentHyp, diabetes, totChol, sysBP, diaBP, BMI, heartRate, glucose, chd]
Index: []

In [29]:
x=df.copy()
target=df['chd']
x.drop(columns=['chd'], inplace=True)
x

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.000000
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.000000
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.000000
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.000000
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4232,1,68,1.0,0,0.0,0.0,0,1,0,176.0,168.0,97.0,23.14,60.0,79.000000
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.000000
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.000000
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,81.966753
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.000000

In [32]:
df=df.drop(['education'], axis=1)

In [33]:
df.head()

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,chd
0,1,39,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [34]:
df['cigsPerDay'] = df['cigsPerDay'].astype(int)
df.head()

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,chd
0,1,39,0,0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0,0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1,20,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,1,30,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,1,23,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [35]:
df['BPMeds'] = df['BPMeds'].astype(int)
df.head()

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,chd
0,1,39,0,0,0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0,0,0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1,20,0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,1,30,0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,1,23,0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [36]:
z=df.copy()
target2=df['chd']
z.drop(columns=['chd'], inplace=True)
z

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
0,1,39,0,0,0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.000000
1,0,46,0,0,0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.000000
2,1,48,1,20,0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.000000
3,0,61,1,30,0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.000000
4,0,46,1,23,0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4232,1,68,0,0,0,0,1,0,176.0,168.0,97.0,23.14,60.0,79.000000
4233,1,50,1,1,0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.000000
4234,1,51,1,43,0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.000000
4236,0,44,1,15,0,0,0,0,210.0,126.5,87.0,19.16,86.0,81.966753
4237,0,52,0,0,0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.000000

In [37]:
madf=x[x['glucose'].isna()]
madf

Empty DataFrame
Columns: [male, age, education, currentSmoker, cigsPerDay, BPMeds, prevalentStroke, prevalentHyp, diabetes, totChol, sysBP, diaBP, BMI, heartRate, glucose]
Index: []

In [38]:
target

0       0
1       0
2       0
3       1
4       0
       ..
4232    1
4233    1
4234    0
4236    0
4237    0
Name: chd, Length: 4185, dtype: int64

In [39]:
target2

0       0
1       0
2       0
3       1
4       0
       ..
4232    1
4233    1
4234    0
4236    0
4237    0
Name: chd, Length: 4185, dtype: int64

In [40]:
z.isnull().values.any()

False

In [41]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(z,target2,test_size=0.2)

In [42]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [43]:
from sklearn.svm import SVC
model2=SVC()
model2.fit(x_train,y_train)

SVC()

In [44]:
from sklearn.ensemble import RandomForestClassifier
model3=RandomForestClassifier()
model3.fit(x_train,y_train)

RandomForestClassifier()

In [45]:
model3.score(x_test,y_test)

0.8542413381123058

In [46]:
model2.score(x_test,y_test)

0.8446833930704899

In [47]:
model.score(x_test,y_test)

0.8494623655913979

In [59]:
test=[1,75,0,20,1,1,1,0,255,150,97,28.97,50,98]
model.predict([test])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [55]:
import pickle

In [56]:
with open('Detect_model.pickle','wb') as f:
    pickle.dump(model,f)

In [ ]:
# sex: **male or female;(Nominal)

# age: age of the patient;(Continuous - Although the recorded ages have been truncated to whole numbers, the concept of age is continuous)
# Behavioural

# **currentSmoker: **whether or not the patient is a current smoker (Nominal)

# cigsPerDay: the number of cigarettes that the person smoked on average in one day.(can be considered continuous as one can have any number of cigarretts, even half a cigarette.)

# Medical( history):

# BPMeds: whether or not the patient was on blood pressure medication (Nominal)

# prevalentStroke: whether or not the patient had previously had a stroke (Nominal)

# ****prevalentHyp: whether or not the patient was hypertensive (Nominal)

# diabetes: whether or not the patient had diabetes (Nominal)

# Medical(current):

# totChol: total cholesterol level (Continuous)

# sysBP: systolic blood pressure (Continuous)

# **diaBP: **diastolic blood pressure (Continuous)

# BMI: Body Mass Index (Continuous)

# heartRate: heart rate (Continuous - In medical research, variables such as heart rate though in fact discrete, yet are considered continuous because of large number of possible values.)

# glucose: glucose level (Continuous)

# Predict variable (desired target):

# 10 year risk of coronary heart disease CHD (binary: “1”, means “Yes”, “0” means “No”)

In [134]:
test=[1,75,3,1,20,0,0,0,0,255,150,97,28.97,50,98]
model3.predict([test])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)